.clients {
  padding: 55px 0 45px;
  background-image: url("/img/clients-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 1px solid $border-clients;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 100px 0 30px;
    background-image: url("/img/clients-bg-full.svg");
    border-width: 2px;
  }

  @media (min-width: $desktop) {
    padding: 156px 0 100px;
  }
}

.clients__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 0;
  }

  @media (min-width: $full) {
    gap: 66px;
  }
}

.clients__right-column {
  @media (min-width: $tablet) {
    flex-shrink: 0;
    width: 50%;
    max-width: 612px;
    overflow: hidden;
  }

  @media (min-width: $full) {
    margin-top: 90px;
  }
}

.clients__title {
  margin-bottom: 25px;

  @media (min-width: $desktop) {
    width: 622px;
  }

  &--line {
    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
      gap: 35px;

      &::after {
        content: '';
        width: 105px;
        height: 2px;
        background-color: $green-light;
        border-radius: 1.5px;
      }
    }
  }

  &--hidden {
    display: none;

    @media (min-width: $desktop) {
      display: block;
    }
  }
}

.clients__info {
  margin-bottom: 35px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.clients__swiper {
  width: 258px;
  height: 176px;
  overflow: visible !important;

  @media (min-width: $tablet) {
    margin-left: 10px !important;
  }
}

.clients__swiper .swiper-button-prev,
.clients__swiper .swiper-button-next {
  top: auto;
  bottom: 0;
}

.clients__swiper .swiper-button-prev {
  left: 30%;

  @media (min-width: $full) {
    left: auto;
    right: -123px;
  }
}

.clients__swiper .swiper-button-next {
  right: 30%;

  @media (min-width: $full) {
    right: -186px;
  }
}

.clients__card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 258px;
  min-height: 116px;

  border-radius: 30px;
  background-color: $white1;
  filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.1));
}
