.order {
  margin-bottom: 70px;
  padding: 35px 0 45px;
  background-color: $green-bg;

  @media (min-width: $desktop) {
    margin-bottom: 100px;
    padding: 55px 0 59px;
    background-image: url("/img/order-bg.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }

  @media (min-width: $full) {
    background-position: center center;
  }
}

.order__title {
  margin-bottom: 30px;
  text-transform: none;

  @media (min-width: $tablet) {
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-bottom: 34px;
    text-align: left;
    font-size: 35px;
    line-height: 45px;
  }
}

.order__inner-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    gap: 30px;
  }
}

.order__input {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin: 0 auto 20px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.order__button {
  margin: 55px auto 0;

  @media (min-width: $desktop) {
    margin-left: 40px;
    margin: 0;
  }
}
