.form-order__input {
  display: block;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);

  @media (min-width: $tablet) {
    max-width: 319px;
  }

  @media (min-width: $desktop) {
    max-width: 290px;
  }

  &::placeholder {
    font-style: $proxima;
    font-size: 14px;
    line-height: 17px;
    color: $green-light-dark;
    opacity: 0.7;
  }
}

.form-order__button {
  padding: 19px 0;
  letter-spacing: 0.04em;

  @media (min-width: $desktop) {
    max-width: 209px;
    padding-bottom: 15px;
  }
}
