$white: #ffffff;
$mobail-bg-gradient: linear-gradient(
  180.1deg,
  #f2f2f2 0.09%,
  #f0f2f1 17.41%,
  #efefef 35.53%,
  #eaeceb 51.42%,
  #e7e8ea 66.94%,
  #e2e6e5 82.21%,
  #dee2e1 99.91%
);

$button-menu-bg1: rgba(255, 255, 255, 0.45);
$button-menu-bg2: rgba(73, 93, 76, 0.15);

$button-bg1: rgba(120, 192, 129, 0.25);
$button-bg2: rgba(34, 111, 33, 0.36);
$button-bg3: rgba($white, 0.45);
$button-disabled: #9cd3a3;



$green: #5ccd6a;
$green-dark: #495e4c;
$green-dark1: #495d4c;
$green-light-dark: #7ca381;
$green-light1-dark: #7ca281;
$green-gray: #7b897d;
$green-light: #78c081;

$green-bg: #d9fadd;
$green-hover: #54e165;
$green-circle-bg: rgba(186, 255, 195, 0.5);


$gray: #848484;
