@font-face {
  font-family: "Proxima";
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: url("/fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid";
  src: url("/fonts/Ruberoid-Regular.woff2") format("woff2"),
    url("/fonts/Ruberoid-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid";
  src: url("/fonts/Ruberoid-Medium.woff2") format("woff2"),
    url("/fonts/Ruberoid-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid";
  src: url("/fonts/Ruberoid-SemiBold.woff2") format("woff2"),
    url("/fonts/Ruberoid-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid";
  src: url("/fonts/Ruberoid-Bold.woff2") format("woff2"),
    url("/fonts/Ruberoid-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $ruberoid;
}

h1,
h2 {
  font-weight: 600;
  text-transform: capitalize;
  color: $green-dark;
}

h1 {
  font-size: 36px;
  line-height: 46px;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
    line-height: 74px;
  }
}

h2 {
  font-size: 28px;
  line-height: 38px;

  @media screen and (min-width: $desktop) {
    font-size: 45px;
    line-height: 60px;
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  height: 100vh;
  font-family: $proxima;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  &--active-menu {
    @media (max-width: $tablet-max) {
      overflow: hidden;

      &>* {
        z-index: -1;
      }
    }
  }
}

.page__main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: $full;
  margin: 0 auto;
  padding: 0 28px;

  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 80px;
  }

  @media screen and (min-width: $full) {
    padding: 0 135px;
  }
}
