$proxima: "Proxima", "Arial", sans-serif;
$ruberoid: "Ruberoid", "Arial", sans-serif;

$mobail-min: 374px;
$mobail: 375px;
$mobail-max: 767px;
$tablet: 768px;
$tablet-max: 1199px;
$desktop: 1200px;
$full: 1440px;
